.header {
    background-color: #19283d;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 300px;
    padding-right: 20px;
}

.nav {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
